/*  your css code here. If applicable */
h1,h4,h5{
	text-align:center;
}
body{
	background-color: #cccccc;
}
li{
	list-style-type: none;
}
a{
	text-decoration:none;
	color:grey;
	margin-left:-25px;
}
.player_one{
	  border:1px solid black;
	background-color:white;
	border-radius:5px;
	
}
.player_two{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content: center;
	border:1px solid black;
	margin:10px;
	margin-inline:auto;
	width:50%;
	background-color:white;
	border-radius:5px;
	
}
video , audio{
	align:center;
	width:90%;
	position: relative;
	top:5px;
    margin-left: 5px;
	margin-right:5px;
	bottom:5px
	
}
.player_two #man{
	text-align:left;
	
}